

.input-container {
    display: flex;
    align-items: center;
    padding: 9px;
    /* border: 1px solid #ccc; */
  
    width: 100%;
    text-align: center;


    /* margin-left: 10% !important; */
  }
  
  .icon {
    margin-right: 12px;
    padding-right: 10px;
    color: #666;
  }
  
  input {
    border: none;
    outline: none;
    flex-grow: 1;
    margin-left: 8px !important;

  }

  




@media only screen and (max-width: 600px) {
   
    .input-container{
        width: 90%;
    margin-left: 0% !important;

    }
    
    
}